In [1]:
import numpy as np
import pandas as pd

In [2]:
dataset_train = pd.read_csv("train.csv")
dataset_test = pd.read_csv("test.csv")

In [3]:
dataset_train.info()
dataset_train.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
dataset_test.info()
dataset_test.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

## Createing the Train set and the Test set

In [5]:
from sklearn.model_selection import train_test_split
X = dataset_train[['Pclass','Sex','Age','SibSp','Parch', 'Fare', 'Embarked']].copy()
y = dataset_train['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)
X_submission = dataset_test[['Pclass','Sex','Age','SibSp','Parch', 'Fare', 'Embarked']].copy()
X_train.head()

     Pclass     Sex   Age  SibSp  Parch     Fare Embarked
331       1    male  45.5      0      0  28.5000        S
733       2    male  23.0      0      0  13.0000        S
382       3    male  32.0      0      0   7.9250        S
704       3    male  26.0      1      0   7.8542        S
813       3  female   6.0      4      2  31.2750        S

## Data Preprocessing

In [6]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
from sklearn.compose import ColumnTransformer

le_sex = LabelEncoder()
onehotencoder_embarked = ColumnTransformer([('encoder', OneHotEncoder(), [6])], remainder='passthrough')

X_train['Sex'] = le_sex.fit_transform(X_train['Sex'])
X_test['Sex'] = le_sex.transform(X_test['Sex'])
X_submission['Sex'] = le_sex.transform(X_submission['Sex'])

X_train = onehotencoder_embarked.fit_transform(X_train)
X_test = onehotencoder_embarked.transform(X_test)
X_submission = onehotencoder_embarked.transform(X_submission)

X_train = pd.DataFrame(X_train, columns=['Embarked1', 'Embarked2', 'Embarked3','Embarked4','Pclass','Sex','Age','SibSp','Parch', 'Fare'])
X_test = pd.DataFrame(X_test, columns=['Embarked1', 'Embarked2', 'Embarked3','Embarked4','Pclass','Sex','Age','SibSp','Parch', 'Fare'])
X_submission = pd.DataFrame(X_submission, columns=['Embarked1', 'Embarked2', 'Embarked3','Embarked4','Pclass','Sex','Age','SibSp','Parch', 'Fare'])

In [7]:
X_train

,Embarked1,Embarked2,Embarked3,Embarked4,Pclass,Sex,Age,SibSp,Parch,Fare
0,0.0,0.0,1.0,0.0,1.0,1.0,45.5,0.0,0.0,28.5000
1,0.0,0.0,1.0,0.0,2.0,1.0,23.0,0.0,0.0,13.0000
2,0.0,0.0,1.0,0.0,3.0,1.0,32.0,0.0,0.0,7.9250
3,0.0,0.0,1.0,0.0,3.0,1.0,26.0,1.0,0.0,7.8542
4,0.0,0.0,1.0,0.0,3.0,0.0,6.0,4.0,2.0,31.2750
...,...,...,...,...,...,...,...,...,...,...
707,0.0,0.0,1.0,0.0,3.0,0.0,21.0,0.0,0.0,7.6500
708,0.0,0.0,1.0,0.0,1.0,1.0,NaN,0.0,0.0,31.0000
709,0.0,0.0,1.0,0.0,3.0,1.0,41.0,2.0,0.0,14.1083
710,0.0,0.0,1.0,0.0,1.0,0.0,14.0,1.0,2.0,120.0000
711,0.0,0.0,1.0,0.0,1.0,1.0,21.0,0.0,1.0,77.2875

In [8]:
from sklearn.impute import KNNImputer
imputer = KNNImputer(n_neighbors=20)
X_train2 = X_train.copy()
X_test2 = X_test.copy()
X_submission2 = X_submission.copy()
types = X_train.dtypes.apply(lambda x: x.name).to_dict()
X_train = pd.DataFrame(imputer.fit_transform(X_train2), columns = X_train.columns)
X_test = pd.DataFrame(imputer.transform(X_test2), columns = X_test.columns)
X_submission = pd.DataFrame(imputer.transform(X_submission2), columns=X_submission.columns)
X_train = X_train.astype(types)
X_test = X_test.astype(types)
X_submission = X_submission.astype(types)
print(X_train[X_train['Age'].isnull()], X_test[X_test['Age'].isnull()])
print(X_train[X_train['Fare'].isnull()], X_test[X_test['Fare'].isnull()])

Empty DataFrame
Columns: [Embarked1, Embarked2, Embarked3, Embarked4, Pclass, Sex, Age, SibSp, Parch, Fare]
Index: [] Empty DataFrame
Columns: [Embarked1, Embarked2, Embarked3, Embarked4, Pclass, Sex, Age, SibSp, Parch, Fare]
Index: []
Empty DataFrame
Columns: [Embarked1, Embarked2, Embarked3, Embarked4, Pclass, Sex, Age, SibSp, Parch, Fare]
Index: [] Empty DataFrame
Columns: [Embarked1, Embarked2, Embarked3, Embarked4, Pclass, Sex, Age, SibSp, Parch, Fare]
Index: []

In [9]:
X_train

,Embarked1,Embarked2,Embarked3,Embarked4,Pclass,Sex,Age,SibSp,Parch,Fare
0,0.0,0.0,1.0,0.0,1.0,1.0,45.50,0.0,0.0,28.5000
1,0.0,0.0,1.0,0.0,2.0,1.0,23.00,0.0,0.0,13.0000
2,0.0,0.0,1.0,0.0,3.0,1.0,32.00,0.0,0.0,7.9250
3,0.0,0.0,1.0,0.0,3.0,1.0,26.00,1.0,0.0,7.8542
4,0.0,0.0,1.0,0.0,3.0,0.0,6.00,4.0,2.0,31.2750
...,...,...,...,...,...,...,...,...,...,...
707,0.0,0.0,1.0,0.0,3.0,0.0,21.00,0.0,0.0,7.6500
708,0.0,0.0,1.0,0.0,1.0,1.0,39.75,0.0,0.0,31.0000
709,0.0,0.0,1.0,0.0,3.0,1.0,41.00,2.0,0.0,14.1083
710,0.0,0.0,1.0,0.0,1.0,0.0,14.00,1.0,2.0,120.0000
711,0.0,0.0,1.0,0.0,1.0,1.0,21.00,0.0,1.0,77.2875

In [10]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train[['Age','Fare']] = sc.fit_transform(X_train[['Age', 'Fare']])
X_test[['Age', 'Fare']] = sc.transform(X_test[['Age', 'Fare']])
X_submission[['Age', 'Fare']] = sc.transform(X_submission[['Age', 'Fare']])

In [11]:
X_train.sample(10)

,Embarked1,Embarked2,Embarked3,Embarked4,Pclass,Sex,Age,SibSp,Parch,Fare
693,0.0,0.0,1.0,0.0,3.0,1.0,0.490877,0.0,0.0,-0.483131
73,0.0,1.0,0.0,0.0,3.0,1.0,-0.139455,0.0,0.0,-0.478237
148,0.0,1.0,0.0,0.0,3.0,0.0,-0.226791,0.0,0.0,-0.478237
623,0.0,0.0,1.0,0.0,2.0,0.0,0.794652,0.0,0.0,-0.324192
139,0.0,0.0,1.0,0.0,2.0,1.0,-1.635547,1.0,1.0,0.080175
421,0.0,0.0,1.0,0.0,2.0,1.0,-0.800166,0.0,0.0,-0.425284
292,0.0,0.0,1.0,0.0,3.0,1.0,0.035215,0.0,0.0,-0.475429
220,0.0,0.0,1.0,0.0,2.0,0.0,1.933808,0.0,0.0,-0.319378
202,0.0,0.0,1.0,0.0,3.0,0.0,1.174371,1.0,4.0,-0.090237
501,0.0,0.0,1.0,0.0,3.0,1.0,-0.572335,0.0,0.0,-0.472460

In [12]:
X_test.sample(10)

,Embarked1,Embarked2,Embarked3,Embarked4,Pclass,Sex,Age,SibSp,Parch,Fare
152,0.0,0.0,1.0,0.0,3.0,1.0,-0.876110,0.0,0.0,-0.477355
81,0.0,0.0,1.0,0.0,2.0,0.0,-0.040729,0.0,0.0,-0.425284
92,0.0,0.0,1.0,0.0,1.0,1.0,2.389471,0.0,0.0,-0.005112
141,0.0,0.0,1.0,0.0,2.0,0.0,1.098427,1.0,0.0,-0.126823
94,0.0,0.0,1.0,0.0,3.0,1.0,-0.086295,0.0,0.0,-0.475429
51,0.0,0.0,1.0,0.0,1.0,0.0,1.705977,1.0,1.0,1.172929
14,0.0,0.0,1.0,0.0,2.0,1.0,0.490877,0.0,0.0,-0.377145
153,0.0,1.0,0.0,0.0,3.0,0.0,-0.253371,1.0,0.0,-0.162445
111,0.0,0.0,1.0,0.0,3.0,1.0,-0.686250,0.0,0.0,-0.487864
105,0.0,0.0,1.0,0.0,3.0,1.0,-0.344504,1.0,0.0,-0.477755

## Support Vector Machine

In [13]:
from sklearn.svm import SVC
sv_classifier = SVC(kernel='linear')

In [14]:
from sklearn.metrics import confusion_matrix, classification_report
from sklearn.model_selection import cross_validate

scoring = ['accuracy', 'precision_macro', 'recall_macro', 'f1_macro']

scores = cross_validate(sv_classifier, X_train, y_train, scoring=scoring)
sv_classifier.fit(X_train, y_train)
y_predicted_test_sv = sv_classifier.predict(X_test)

print("accuracy: {0:0.2f}\n\
precision macro average: {1:0.2f}\n\
recall macro average: {2:0.2f}\n\
f1_score macro average: {3:0.2f}".format(
                                  scores['test_accuracy'].mean(), 
                                  scores['test_precision_macro'].mean(),
                                  scores['test_recall_macro'].mean(),
                                  scores['test_f1_macro'].mean()))
print(30*"-")
print(confusion_matrix(y_test, y_predicted_test_sv))
print(classification_report(y_predicted_test_sv, y_test))

accuracy: 0.79
precision macro average: 0.78
recall macro average: 0.76
f1_score macro average: 0.77
------------------------------
[[88 17]
 [22 52]]
              precision    recall  f1-score   support

           0       0.84      0.80      0.82       110
           1       0.70      0.75      0.73        69

    accuracy                           0.78       179
   macro avg       0.77      0.78      0.77       179
weighted avg       0.79      0.78      0.78       179

## Logistic Regression

In [15]:
from sklearn.linear_model import LogisticRegression
lr_classifier = LogisticRegression(random_state = 0)

In [16]:
scores = cross_validate(lr_classifier, X_train, y_train, scoring=scoring)
lr_classifier.fit(X_train, y_train)
y_predicted_test_lr = lr_classifier.predict(X_test)

print("accuracy: {0:0.2f}\n\
precision macro average: {1:0.2f}\n\
recall macro average: {2:0.2f}\n\
f1_score macro average: {3:0.2f}".format(
                                  scores['test_accuracy'].mean(), 
                                  scores['test_precision_macro'].mean(),
                                  scores['test_recall_macro'].mean(),
                                  scores['test_f1_macro'].mean()))
print(30*"-")
print(confusion_matrix(y_test, y_predicted_test_lr))
print(classification_report(y_predicted_test_lr, y_test))

accuracy: 0.79
precision macro average: 0.78
recall macro average: 0.77
f1_score macro average: 0.77
------------------------------
[[91 14]
 [19 55]]
              precision    recall  f1-score   support

           0       0.87      0.83      0.85       110
           1       0.74      0.80      0.77        69

    accuracy                           0.82       179
   macro avg       0.80      0.81      0.81       179
weighted avg       0.82      0.82      0.82       179

## Guassian Naive Bayes
* for Naive Bayes we have an independency assumpsion for all features. So feature 'Embarked4' will be removed.

In [17]:
X_train

,Embarked1,Embarked2,Embarked3,Embarked4,Pclass,Sex,Age,SibSp,Parch,Fare
0,0.0,0.0,1.0,0.0,1.0,1.0,1.212343,0.0,0.0,-0.078684
1,0.0,0.0,1.0,0.0,2.0,1.0,-0.496391,0.0,0.0,-0.377145
2,0.0,0.0,1.0,0.0,3.0,1.0,0.187103,0.0,0.0,-0.474867
3,0.0,0.0,1.0,0.0,3.0,1.0,-0.268560,1.0,0.0,-0.476230
4,0.0,0.0,1.0,0.0,3.0,0.0,-1.787434,4.0,2.0,-0.025249
...,...,...,...,...,...,...,...,...,...,...
707,0.0,0.0,1.0,0.0,3.0,0.0,-0.648278,0.0,0.0,-0.480162
708,0.0,0.0,1.0,0.0,1.0,1.0,0.775666,0.0,0.0,-0.030545
709,0.0,0.0,1.0,0.0,3.0,1.0,0.870596,2.0,0.0,-0.355804
710,0.0,0.0,1.0,0.0,1.0,0.0,-1.179885,1.0,2.0,1.683201
711,0.0,0.0,1.0,0.0,1.0,1.0,-0.648278,0.0,1.0,0.860748

In [18]:
X_train_gnb = X_train.drop(columns = ['Embarked4']).copy()
X_test_gnb = X_test.drop(columns = ['Embarked4']).copy()
X_submission_gnb = X_submission.drop(columns = ['Embarked4']).copy()

In [19]:
X_train_gnb

,Embarked1,Embarked2,Embarked3,Pclass,Sex,Age,SibSp,Parch,Fare
0,0.0,0.0,1.0,1.0,1.0,1.212343,0.0,0.0,-0.078684
1,0.0,0.0,1.0,2.0,1.0,-0.496391,0.0,0.0,-0.377145
2,0.0,0.0,1.0,3.0,1.0,0.187103,0.0,0.0,-0.474867
3,0.0,0.0,1.0,3.0,1.0,-0.268560,1.0,0.0,-0.476230
4,0.0,0.0,1.0,3.0,0.0,-1.787434,4.0,2.0,-0.025249
...,...,...,...,...,...,...,...,...,...
707,0.0,0.0,1.0,3.0,0.0,-0.648278,0.0,0.0,-0.480162
708,0.0,0.0,1.0,1.0,1.0,0.775666,0.0,0.0,-0.030545
709,0.0,0.0,1.0,3.0,1.0,0.870596,2.0,0.0,-0.355804
710,0.0,0.0,1.0,1.0,0.0,-1.179885,1.0,2.0,1.683201
711,0.0,0.0,1.0,1.0,1.0,-0.648278,0.0,1.0,0.860748

In [20]:
from sklearn.naive_bayes import GaussianNB
gnb_classifier = GaussianNB()

In [21]:
scores = cross_validate(gnb_classifier, X_train_gnb, y_train, scoring=scoring)
gnb_classifier.fit(X_train_gnb, y_train)
y_predicted_test_gnb = gnb_classifier.predict(X_test_gnb)

print("accuracy: {0:0.2f}\n\
precision macro average: {1:0.2f}\n\
recall macro average: {2:0.2f}\n\
f1_score macro average: {3:0.2f}".format(
                                  scores['test_accuracy'].mean(), 
                                  scores['test_precision_macro'].mean(),
                                  scores['test_recall_macro'].mean(),
                                  scores['test_f1_macro'].mean()))
print(30*"-")
print(confusion_matrix(y_test, y_predicted_test_gnb))
print(classification_report(y_predicted_test_gnb, y_test))

accuracy: 0.76
precision macro average: 0.75
recall macro average: 0.75
f1_score macro average: 0.75
------------------------------
[[82 23]
 [17 57]]
              precision    recall  f1-score   support

           0       0.78      0.83      0.80        99
           1       0.77      0.71      0.74        80

    accuracy                           0.78       179
   macro avg       0.78      0.77      0.77       179
weighted avg       0.78      0.78      0.78       179

## Predicting the Test Set

In [22]:
y_predicted_sv = sv_classifier.predict(X_submission)
y_predicted_lr = lr_classifier.predict(X_submission)
y_predicted_gnb = gnb_classifier.predict(X_submission_gnb)

In [23]:
# write on gender_submission.csv
size = dataset_test['PassengerId'].values.size
predicted_array = np.concatenate((dataset_test['PassengerId'].values.reshape((size,1)), y_predicted_sv.reshape((size,1)), y_predicted_lr.reshape((size,1)), y_predicted_gnb.reshape((size,1))), axis=1)
predicted_df = pd.DataFrame(predicted_array, columns=["PassengerId", "Survived_SVM", "Survived_LR","Survived_GNB"])
predicted_df.to_csv("gender_submission.csv")